@font-face{
    font-family: 'Avenir-Font';
    src: url("../Avenir-Font/avenir_ff/AvenirLTStd-Roman.otf") format("opentype");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Avenir-Font" ;
}
body{
    background-image: url("../assets/other-images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}
#header,#explore-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px 80px 20px;
    flex-wrap: wrap;
}
.logo{
    align-items: center;
}
.logo img{
    width: 50px;
}
.heading{
    align-items: center; 
    text-align: center;  
    word-spacing: 1.5px;
    letter-spacing: 1.5px;
    padding-left: 80px;
    padding-top: 10px;
}
.heading h3{
    text-transform: capitalize;
}
.links ul,.explore-links ul{
    display: flex;
    text-transform: uppercase; 
    align-items: center;
}
.links li i,.explore-links li i{
    font-size: 12px;
}
.links li,.explore-links li{
    list-style: none;
    padding: 4px;
    font-size: 12px;
    cursor: pointer;
}
.links  img,.explore-links img {
    height: 20px;
}
.links img:hover{ 
   transform: rotate(90deg);
   transition: transform  1s linear;
   cursor: pointer;
}
#image-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
    padding:0px 70px;
}
#image-container  img{
    width: 350px;
    height: 500px;
}
.image-1 ,.image-2,.image-3{
    position: relative;

}
.text{
    position: absolute;;
    bottom: 20px;
    left: 20px;
    /* transform: translateY(-100px);
    transition: 1s ease-in-out 50ms; */
}
.text h2{
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.text hr{
    width: 250px;
    border: 0;
    border-top: 2px solid white;
    height: 5px;
}
.text p{
    color: white;
    text-transform: capitalize;
}
.text button{
    display: none;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    outline: none;
    padding: 10px 18px;
    margin-top: 10px;
    cursor: pointer;
}
.text:hover{
    transform: scale(1.4);
    top: 50px;
    transition:transform 2s ease;
}
.text:hover button{
    display: block;
}

@media screen and (max-width: 1200px){
    #image-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 30px 0px;
        padding:0px 30px;
    }
    #image-container  img{
        width: 270px;
        height: 450px;
    }
    .text hr{
        width: 200px;
    }
} 
@media screen and (max-width: 770px){
    #header{
        justify-content: end;
        flex-wrap: nowrap;
    }
    .heading{
        align-items: center;
       margin-top: 40px; 
        text-align: center;   
    }
    #image-container{
        display: flex;
        align-items: space-between;
        margin: 10px 0px;
    }
    #image-container  img{
        width: 200px;
        height: 400px;
        padding: 0px 10px;
    }
    .text hr{
        display: none;
    }
    
}
@media screen and (max-width: 480px){
    /* #header{
        width: 200px;
    } */
    #image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;
        flex-wrap: wrap;
    }
    #image-container  img{
        width: 300px;
        height: 200px;
    }
    .links{
    justify-self: flex-end;
    }
    .heading {
        padding-top: -50px;
        text-align: center;
    } 
}  

   

.icon{
    text-align: center;
    cursor: pointer;
}
.icon img{
    color: white;
    border: 1px solid gray;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: gray;
}

