@font-face{
    font-family: 'Avenir-Font';
    src: url("../Avenir-Font/avenir_ff/AvenirLTStd-Roman.otf") format("opentype");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Avenir-Font" ;
}
body{
    /* background-image: linear-gradient(#99cffe,#6b5959); */
    background-image: url("../assets/other-images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 70px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.main img{
    margin-bottom: 50px;
}
.main h1{
    font-size: 30px;
    letter-spacing: 0.5px;
}
.container p{
    margin-top: 180px;
    color: white;
    font-size: 10px;
}
@media screen and (max-width: 425px){
    .container p{
        font-size: 7px;
    }
}
.container button{
    align-self: flex-end;
    outline: none;
    background: transparent;
    cursor: pointer;
    border: none;
    color: white;
    text-decoration: underline;
    font-size: 10px;
}


/* home page styling */

#header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding-top: 20px;
}
.heading{
    margin-top: 12px;
    text-align: center;
}
.heading h1{
    text-transform: capitalize;
    padding-left: 100px;
}
.logo img{
    width: 100px;
}
.links ul{
    display: flex;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.links li{
    list-style: none;
    padding: 8px;
}
.links li img{
    height: 20px;
}
#image-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}
#image-container  img{
    width: 300px;
    height: 400px;
    /* max-width: 100%;
    height: auto; */
}
.image-1 ,.image-2,.image-3{
    position: relative;

}
.text{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.text h2{
    color: white;
    font-size: 50px;
    font-weight: bold;
    /* border-bottom:  2px solid white; */
}
.text hr{
    width: 100%;
    border: 0;
    border-top: 2px solid white;
    /* height: 5px; */
   
}