@font-face{
    font-family: 'Avenir-Font';
    src: url("../Avenir-Font/avenir_ff/AvenirLTStd-Roman.otf") format("opentype");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Avenir-Font" ;
}
body{
    background-image: url("../assets/other-images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 70px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.main img{
    margin-bottom: 50px;
}
.main h1{
    font-size: 30px;
    letter-spacing: 0.5px;
}
.container p{
    margin-top: 180px;
    color: white;
    font-size: 10px;
}
@media screen and (max-width: 425px){
    .container p{
        font-size: 7px;
    }
}
.container button{
    align-self: flex-end;
    outline: none;
    background: transparent;
    cursor: pointer;
    border: none;
    color: white;
    text-decoration: underline;
    font-size: 10px;
}


/* home page styling */

#header,#explore-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px 80px 20px;
    flex-wrap: wrap;
}
.logo{
    align-items: center;
}
.logo img{
    width: 50px;
}
.heading{
    align-items: center; 
    text-align: center;   
}
.heading h3{
    text-transform: capitalize;
}
.links ul,.explore-links ul{
    display: flex;
    text-transform: uppercase; 
    align-items: center;
}
.links li i,.explore-links li i{
    font-size: 12px;
}
.links li,.explore-links li{
    list-style: none;
    padding: 4px;
    font-size: 12px;
}
.links  img,.explore-links img {
    height: 20px;
}
.links img:hover{ 
   transform: rotate(90deg);
   transition: transform  1s linear 10ms;
   cursor: pointer;
}
#image-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0px;
}
#image-container  img{
    width: 300px;
    height: 400px;
}
.image-1 ,.image-2,.image-3{
    position: relative;

}
.text{
    position: absolute;;
    bottom: 20px;
    left: 20px;
    /* transform: translateY(-100px);
    transition: 1s ease-in-out 50ms; */
}
.text h2{
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.text hr{
    width: 250px;
    border: 0;
    border-top: 2px solid white;
    height: 5px;
}
.text p{
    color: white;
    text-transform: capitalize;
}
.text button{
    display: none;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    outline: none;
    padding: 10px 18px;
    margin-top: 10px;
    cursor: pointer;
}
.text:hover{
    transform: scale(1.4);
    top: 50px;
    transition:transform 2s ease;
}
.text:hover button{
    display: block;
}
@media screen and (max-width: 770px){
    #header{
        padding: 20px 90px 20px;
    }
    .heading{
        align-items: center;
       margin-top: 30px; 
        text-align: center;   
    }
    #image-container{
        display: flex;
        justify-content: center;
        align-items: space-between;
        margin: 10px 10px;
        flex-wrap: wrap;
    }
    #image-container  img{
        width: 200px;
        height: 400px;
        margin-left: 10px;
    }
    .text hr{
        display: none;
    }
    
}
@media screen and (max-width: 425px){
    #header{
        padding: 20px 90px 20px;
    }
    .heading{
        align-items: center;
       margin-top: 30px; 
        text-align: center;   
    }
    #image-container{
        display: flex;
        justify-content: center;
        align-items: space-between;
        margin: 10px 00px;
        flex-wrap: wrap;
    }
    #image-container  img{
        width: 300px;
        height: 200px;
    }
    #header{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 20px 0px 20px;
        flex-wrap: wrap;
    }
    .heading{
        padding-top: 50px;
        text-align: center;
    }
}    

.icon{
    text-align: center;
    cursor: pointer;
}
.icon img{
    color: white;
    border: 1px solid gray;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: gray;
}

/* explore */
#explore-header{
position: absolute;
top: 30px;
z-index: 2;
}
video{
    position: relative;
}
.explore-links{
    margin-left: 900px;
}
@media screen and (max-width: 1200px){
    .explore-links{
        margin-left: 700px;
        margin-top: -30px;
    }

#explore-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px  20px;
    flex-wrap: wrap;
}
}   
@media screen and (max-width: 770px){
    .explore-links{
        margin-left: 500px;
        /* margin-top: 10px; */
    }

#explore-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px 00px 20px;
    flex-wrap: wrap;
}
}
@media screen and (max-width: 630px){
    .explore-links{
        margin-left: 400px;
    }

#explore-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px 00px 20px;
    flex-wrap: wrap;
}
}    
/* view chapter */
.images-container{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}
.images-container .col-1{
    display: none;
}
.images-container .col-1 img{
    max-width: 280px;
    height: 500px;
}
.images-container .carosel-image-visible{
    display: block;
}
.button-container{
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.button-container i{
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 25px;
    color: white;
}
.button-right{
    margin-left: 1300px;
}
.button-left i{
    display: none;
}
#header .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header .heading a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
}
#header .links li img{
    height: 12px;
}